@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@use "../global";

* {
  font-family: 'Poppins', sans-serif;
}

.body1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 158px;
  padding-top: 220px;
  padding-bottom: 137px;
}

.body1 h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  padding-top: 5px;
  /* Dark blue */
  color: #282938;
}

.body1 h1 {
  padding-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  /* or 137% */
  /* Dark blue */
  color: #282938;
}

.body1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  text-align: justify;
  /* Dark blue */
  color: #282938;
  padding-top: 31px;
  opacity: 0.7;
}

.body2 {
  background: #F4F5F5;
}

.body2 .pdd {
  padding: 96px 109px 96px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 61px;
}

.body2 h4 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  /* identical to box height, or 147% */
  /* Dark blue */
  color: #282938;
}

.body2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  /* Dark blue */
  color: #282938;
  opacity: 0.7;
  padding-top: 16px;
}

.body3 {
  padding-bottom: 128px;
}

.body3 img {
  width: 100%;
}

.body4 {
  background: #F4F6FC;
}

.body4 .cards .div {
  padding: 128px 0px;
}

.body4 .cards .div h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-align: center;
  /* Dark blue */
  color: #282938;
}

.cards2 {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;
}

.cards2 .card {
  transition: .5s;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards2 .card img {
  transition: .5s;
  padding-top: 48px;
}

.cards2 .card h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  text-align: center;
  /* b */
  color: #1D2130;
  padding-top: 30px;
}

.cards2 .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* b */
  color: #1D2130;
  padding-top: 2px;
  padding-bottom: 16px;
  opacity: 0.7;
}

.img {
  position: relative;
}

.img .smi {
  position: absolute;
  top: 140px;
  left: calc(50% - 30px);
  display: none;
}

.img .smi img {
  transition: .5s !important;
}

.card:hover {
  cursor: pointer;
}

.card:hover p {
  text-decoration: underline;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.body1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 158px;
  padding-top: 220px;
  padding-bottom: 137px;
}
.body1 h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  padding-top: 5px;
  /* Dark blue */
  color: #282938;
}
.body1 h1 {
  padding-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  /* or 137% */
  /* Dark blue */
  color: #282938;
}
.body1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  text-align: justify;
  /* Dark blue */
  color: #282938;
  padding-top: 31px;
  opacity: 0.7;
}

.body2 {
  background: #F4F5F5;
}
.body2 .pdd {
  padding: 96px 109px 96px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 61px;
}
.body2 h4 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  /* identical to box height, or 147% */
  /* Dark blue */
  color: #282938;
}
.body2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  /* Dark blue */
  color: #282938;
  opacity: 0.7;
  padding-top: 16px;
}

.body3 {
  padding-bottom: 128px;
}
.body3 img {
  width: 100%;
}

.body4 {
  background: #F4F6FC;
}
.body4 .cards .div {
  padding: 128px 0px;
}
.body4 .cards .div h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-align: center;
  /* Dark blue */
  color: #282938;
}

.cards2 {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;
}
.cards2 .card {
  transition: 0.5s;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards2 .card img {
  transition: 0.5s;
  padding-top: 48px;
}
.cards2 .card h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  text-align: center;
  /* b */
  color: #1D2130;
  padding-top: 30px;
}
.cards2 .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* b */
  color: #1D2130;
  padding-top: 2px;
  padding-bottom: 16px;
  opacity: 0.7;
}

.img {
  position: relative;
}
.img .smi {
  position: absolute;
  top: 140px;
  left: calc(50% - 30px);
  display: none;
}
.img .smi img {
  transition: 0.5s !important;
}

.card:hover {
  cursor: pointer;
}
.card:hover p {
  text-decoration: underline;
}
.card:hover .smi {
  display: block;
}

.card:hover .smi {
  display: block;
}


.card:hover img {
  transform: scale(1.1);
}

.smi img:hover {
  transform: scale(1.1);
}
.footer {
  background: #1C1E53;
  color: white;
  width: 100%;
}
.footer .fle {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0px;
}
.footer .fle .w1 {
  width: 40%;
}
.footer .fle .w1 a {
  font-size: 30px;
}
.footer .fle .w1 p {
  padding: 8px 0px;
  color: #dfdfe0;
}
.footer .fle .w1 .email-bac {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  background: #FCD980;
  color: black;
  padding: 15px 22px;
}
.footer .fle .w1 .email-bac p {
  color: black;
}
.footer .fle .w2 {
  width: 40%;
}
.footer .fle .w2 p {
  padding: 10px 0px;
  color: #dfdfe0;
}
.footer .fle .w2 .im {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
@media (max-width: 900px) {
  .footer .fle .w1 {
    width: 55%;
  }
  .footer .fle .w2 {
    width: 55%;
  }
}
@media (max-width: 850px) {
  .footer .fle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer .fle .w1 {
    width: 90%;
  }
  .footer .fle .w1 p {
    text-align: center;
  }
  .footer .fle .w1 .email-bac {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .footer .fle .w2 {
    width: 90%;
  }
  .footer .fle .w2 .im {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 1297px) {
  .body1 {
    grid-column-gap: 100px;
  }
}

@media (max-width: 1100px) {
  .body1 {
    grid-template-columns: 1fr;
  }
  .body1 h5, .body1 p, .body1 h1 {
    text-align: center;
  }
  .body1 .right img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .pdd {
    grid-template-columns: 1fr !important;
  }
  .pdd h4, .pdd p {
    text-align: center;
  }
  .cards2 {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
  }
}

@media (max-width: 500px) {
  .cards2 {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

}
