@use "../global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.item {
  text-align: center;
  margin-top: 128px;
  margin-bottom: 64px;
}

.input {
  margin-top: 64px;
  background-color: #F4F6FC;
  height: 440px;
}

.btn-1 {
  margin-top: 24px !important;
  width: 234px !important;
  height: 54px !important;
  background: #282938 !important;
  border-radius: 41px !important;
  padding: 15px, 51px, 15px, 51px !important;
}