@use "../global";
main .section1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  margin: auto;
  padding: 0px 20px;
  margin-top: 220px;
}
.btnn a {
  text-decoration: none;
  color: white;
}
.btnn:hover a{
  color: #1C1E53;
}
main .section1 .sec1 .h1 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}

main .section1 .sec1 .pi {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 64px;
}

main .section1 .sec1 .flex {
  display: flex;
  justify-content: space-between;
}

main .section1 .sec1 .bottom {
  background-color: #F4F6FC;
  padding: 64px 48px;
  border-radius: 4px;
  width: 100%;
  transition: .7s;
}

main .section1 .sec1 .bottom .pointer1 {
  display: flex;
}

main .section1 .sec1 .bottom .pointer1 p {
  margin-left: 10px;
}

main .section1 .sec1 .bottom .pointer2 {
  display: flex;
}

main .section1 .sec1 .bottom .pointer2 p {
  margin-left: 10px;
}

main .section1 .sec1 .bottom .raqam {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  margin-right: 10px;
}

main .section1 .sec1 .bottom span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2405F2;
}

main .section1 .sec1 .bottom .lan {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}

main .section1 .sec1 .bottom .when {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 70px;
}

main .section1 .sec1 .bottom a {
  all: unset;
  cursor: pointer;
  padding: 16px 70px;
  border-radius: 41px;
  background-color: #282938;
  color: white;
}

main .section1 .sec1 .bottom a button {
  all: unset;
  margin-top: 70px;
}

main .section1 .sec1 .bottom .but {
  text-align: center;
}

main .section1 .sec1 .bottom:hover {
  background-color: #1c1e53e0;
  color: white;
}

main .section1 .sec1 .bottom:hover .raqam {
  color: white;
}

main .section1 .sec1 .bottom:hover .lan {
  color: white;
}

main .section1 .sec1 .bottom:hover .when {
  color: white;
}

main .section1 .sec1 .bottom:hover span {
  color: #FCD980;
}

main .section1 .sec1 .bottom:hover .but a {
  background-color: #FCD980;
  color: black;
}

main .section1 .sec1 .bottom2 {
  margin-left: 20px;
}

main .section2 {
  max-width: 1280px;
  margin: auto;
  padding: 0px 20px;
  margin-top: 128px;
  margin-bottom: 128px;
}

main .section2 .sec2 {
  display: flex;
}

main .section2 .sec2 .left h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}

main .section2 .sec2 .left p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #2405F2;
  opacity: 0.87;
}
.footer {
  background: #1C1E53;
  color: white;
  width: 100%;
}
.footer .fle {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0px;
}
.footer .fle .w1 {
  width: 40%;
}
.footer .fle .w1 a {
  font-size: 30px;
}
.footer .fle .w1 p {
  padding: 8px 0px;
  color: #dfdfe0;
}
.footer .fle .w1 .email-bac {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  background: #FCD980;
  color: black;
  padding: 15px 22px;
}
.footer .fle .w1 .email-bac p {
  color: black;
}
.footer .fle .w2 {
  width: 40%;
}
.footer .fle .w2 p {
  padding: 10px 0px;
  color: #dfdfe0;
}
.footer .fle .w2 .im {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.btnn a {
  color: white;
}
.btnn:hover a{
  color: #1C1E53;
}
@media (max-width: 900px) {
  .footer .fle .w1 {
    width: 55%;
  }
  .footer .fle .w2 {
    width: 55%;
  }
}
@media (max-width: 850px) {
  .footer .fle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer .fle .w1 {
    width: 90%;
  }
  .footer .fle .w1 p {
    text-align: center;
  }
  .footer .fle .w1 .email-bac {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .footer .fle .w2 {
    width: 90%;
  }
  .footer .fle .w2 .im {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  main .section1 .flex {
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  main .section1 .flex .bottom .pointer1 {
    justify-content: center;
  }
  main .section1 .flex .bottom .pointer2 {
    text-align: center;
    justify-content: center;
  }
  main .section1 .flex .bottom2 {
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  main .section1 .flex {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .section2 .sec2 {
    flex-direction: column;
  }
  .section2 .sec2 .left {
    text-align: center;
  }
}

@media (max-width: 800px) {
  main .section1 .flex {
    width: 90%;
    margin: auto;
  }
}

