@use "../global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

li{
  list-style-type: none;
a{
  text-decoration: none;
}
}

header{
 background: #F4F6FC;
}
.header__work{
 
  text-align: center;
  h4{
    padding-top: 24px;
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.7;
  }p{
    padding-top: 96px;
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.7;
  }h1{
    font-weight: 600;
font-size: 48px;
line-height: 64px;
color: #282938;
  }div{
    margin-top: 32px;
    padding: 96px;
    svg{
      margin: 0 15px;
    }
  }
 
}.cards__img{
  img{
    width: 100%;
  }
}
.row{
  h2{
    padding-top: 24px;
    font-weight: 600;
font-size: 38px;
line-height: 56px;
color: #282938;
  }p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: justify;
color: #282938;
  }a{
    text-decoration: none;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #282938;
svg{
  margin-left: 16px;
}
  }
}.modal{
  --bs-modal-width: 100vh !important; 
}
.up__tab{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li{
    margin: 16px;
    a{
           font-weight: 500;
font-size: 18px;
line-height: 32px;
color: #282938;
opacity: 0.7;
    }
  }
}
.ap-tab-link.active-tab{
  color: #2405F2;
 
}.ap-tab-content{
  transition: 1s;
}
.butt{
  margin-top: 40px;
     background: #FCD980;
border-radius: 41px;
padding: 16px 66px;
transition: .7s;
  a{
    text-decoration: none;
font-weight: 600;
font-size: 18px;
line-height: 32px;
color: #1B1C2B;
  }
}.butt:hover{
  background: #fff5da;
}
.down{
  margin-top: 128px;
  margin-bottom: 128px;
}
@media(max-width:600px){
  .header__work h1{
    font-size: 32px;
  }
  .row {
    h2{
      font-size: 24px;
    }p{
      font-size: 10px;
    }
  }
  .butt{
padding: 8px 33px;
  }
  .down{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.footer{
    background: #1C1E53;
    color: white;
    width: 100%;
    .fle{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 50px 0px;
        .w1{
            width: 40%;   
            a{
                font-size: 30px;
            }
            p{
                padding: 8px 0px;
                color: #dfdfe0;
            }
            .email-bac{
                margin-top: 40px;
                display: flex;
                gap: 20px;
                background: #FCD980;
                color: black;
                padding: 15px 22px;
                p{
                    color: black;
                }
            }
        }
        .w2{
            width: 40%;
            p{
                padding: 10px 0px;
                color: #dfdfe0;
            }
            .im{
                margin-top: 20px;
                display: flex;
                gap: 20px;
            }
        }
    }
}
@media (max-width: 900px){
    .footer{
    .fle{
        .w1{
            width: 55%;  
        }
        .w2{
            width: 55%;
    }
}
}
}
@media (max-width:850px) {
    .footer{
    .fle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .w1{
            width: 90%;  
            p{
                text-align: center;
            }
            .email-bac{
                text-align: center;
                margin-top: 30px;
                display: flex;
                justify-content: center;
            }
        }
        .w2{
            width: 90%;
            .im{
                display: flex;
                gap: 20px;
                justify-content: center;
            }
        }
    }
}
}